* {
  margin: 0;
}
.view {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view__info {
  font-size: 6rem;
}

.nav {
  min-height: 500px;
  background-color: lime;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.nav__list--sub {
  transition: max-height 0.5s ease;
  padding-left: 55px;
  overflow-y: hidden;
}

.nav__item--main,
.nav__item--sub {
  position: relative;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pointer {
  display: block;
  position: absolute;
  top: 0;
  right: calc(100% + 30px);
}

.pointer::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 3px solid black;
  border-top: 3px solid black;
  width: 8px;
  height: 8px;
  right: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.pointer--open {
  right: 70%;
}
